---
import MainHeader from '../components/MainHeader.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import EnergySection from '../components/EnergySection.astro';
import ConfortSection from '../components/ConfortSection.astro';
import ModelSection from '../components/ModelSection.astro';
import MessiSection from '../components/MessiSection.astro';
---

<Layout title="Make by Puly with Astro & Tailwind">
	
	<MainHeader />
	
	<main class="relative overflow-auto snap-y snap-mandatory h-screen w-full">
		<div class="snap-center">
			<Hero heading='Descubrí la tecnología hoy'/>
		</div>

		<div class="snap-center">
			<EnergySection heading='Carga ultra veloz'/>
		</div>

		<div class="snap-center">
			<ConfortSection heading='Interior del futuro'/>
		</div>

		<div class="snap-center">
			<ModelSection heading='Pool-e model'/>
		</div>

		<div class="snap-center">
			<MessiSection heading='Campeón del mundo'/>
		</div>
	</main>

</Layout>
