---
import MainHeader from '../components/MainHeader.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Make by Puly with Astro">
	
	<MainHeader />
	
	<main class="relative overflow-auto snap-y snap-mandatory h-screen w-full">
		<div class="snap-center">
			<Hero heading='Conocé los Tope de Gama'/>
		</div>

		<div class="snap-center">
			<Hero heading='Otra sección'/>
		</div>

		<div class="snap-center">
			<Hero heading='Algún otro modelo'/>
		</div>
	</main>

</Layout>
