---
import Logo from "./Logo.astro";
---

<script>
    //Identificar que color tendr치 la navegaci칩n en cada secci칩n al visitar la secci칩n

    const header = document.querySelector('.main-header') as HTMLElement;

    const observerConfig = {
        root: null,
        rootMargin: '0px', //ni bien se vea el elemento
        threshold: 0.9  //cuando se vea el 90%
    }

    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            const {isIntersecting} = entry;
            if(isIntersecting){
                const color = entry.target.getAttribute('data-header-color');
                header.style.color = color;
            }
        })
    }, observerConfig) //se le pasa la config


    //Ejecutarlo
    const sections = document.querySelectorAll('.section');

    sections.forEach(section => {
        observer.observe(section);
    })
</script>

<header class="main-header py-5 px-10 fixed top-0 w-full flex justify-between items-center z-40">
    <div class="flex flex-grow basis-0">
        <Logo />
    </div>

    <nav>
        <ul class="flex text-sm [&>li>a]:inline-block [&>li>a]:px-5 [&>li>a]:py-2 [&>li>a]:font-bold">
            <li><a href="#model" class="hover:bg-[#b2b2b254] rounded transition">Modelo JP</a></li>
            <li><a href="#charge" class="hover:bg-[#b2b2b254] rounded transition">Carga</a></li>
            <li><a href="#inside" class="hover:bg-[#b2b2b254] rounded transition">Interior</a></li>
            <li><a href="#messi" class="hover:bg-[#b2b2b254] rounded transition">Messi</a></li>
        </ul>
    </nav>

    <nav class="flex flex-grow justify-end basis-0">
        <ul class="flex text-sm [&>li>a]:inline-block [&>li>a]:px-5 [&>li>a]:py-2 [&>li>a]:font-bold">
            <li>
                <a href="https://www.linkedin.com/in/jose-ignacio-robledo-puly-008661239/"><svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 icon icon-tabler icon-tabler-brand-linkedin" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                    <path d="M8 11l0 5" />
                    <path d="M8 8l0 .01" />
                    <path d="M12 16l0 -5" />
                    <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                  </svg></a>
            </li>
        </ul>
    </nav>
</header>