---
interface Props {
	heading: string;
}

const { heading } = Astro.props;
---

<section id="model" class="section h-screen w-full text-center relative overflow-hidden" data-header-color="black">
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-4xl font-bold pt-40 text-gray-900">{heading}</h2>
            <a href="#" class="underline text-gray-900">Visitar oficinas</a>
        </header>
        
        <footer class="flex flex-col flex-grow justify-end pb-32">
            <div class="flex flex-col items-center text-gray-900">
                <p class="font-bold text-3xl">High Quality</p>
                  
                <p>Velocidad, confort, cuidado ambiental. Tesla.</p>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0">
        <img class="object-center object-cover h-full w-screen" src="/modelo-tesla-blue.avif" alt="Tesla model">
    </div>
</section>